<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<language feature="hu-HU" />
		<runtime stopAtFirstError="true" />
		<stepAssemblies>
			<stepAssembly assembly="ExternalStepDefs" />
		</stepAssemblies>
	</specFlow>
</configuration>